<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <!-- Sets initial viewport load and disables zooming  -->
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
        <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <title><%= appname %></title>
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:css styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Make sure all your bars are the first things in your <body> -->
        <header class="bar bar-nav">
          <h1 class="title">Ratchet App</h1>
        </header>

        <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
        <div class="content">
          <p class="content-padded">This is an example HTML page that's linked up to compiled Ratchet CSS and JS, has the proper meta tags and the HTML structure. Need some more help before you start filling this with your own content? Check out some Ratchet resources:</p>
          <div class="card">
            <ul class="table-view">
              <li class="table-view-cell">
                <a class="push-right" href="http://goratchet.com">
                  <strong>Ratchet documentation</strong>
                </a>
              </li>
              <li class="table-view-cell">
                <a class="push-right" href="https://github.com/twbs/ratchet/">
                  <strong>Ratchet on Github</strong>
                </a>
              </li>
              <li class="table-view-cell">
                <a class="push-right" href="https://groups.google.com/forum/#!forum/goratchet">
                  <strong>Ratchet Google group</strong>
                </a>
              </li>
              <li class="table-view-cell">
                <a class="push-right" href="https://twitter.com/goratchet">
                  <strong>Ratchet on Twitter</strong>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <!-- endbower -->
        <!-- endbuild -->
    </body>
</html>